NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

PORT=4000
DATABASE_URL=postgres://flowiq:flowiq@localhost:5432/flowiq?sslmode=disable
PRINTIQ_BASE_URL=https://adsaust.printiq.com
PRINTIQ_USERNAME=your-username
PRINTIQ_PASSWORD=your-password
PRINTIQ_APPLICATION_NAME=TrialAPI
PRINTIQ_APPLICATION_KEY=f67e06b7-b621-43ae-bb31-xxxx
PRINTIQ_ACCESS_TOKEN=your-printiq-access-token
JWT_SECRET=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_NAME=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_NAME=
DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=
DEFAULT_USER_NAME=
DEFAULT_TENANT_NAME=
