# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Next.js
.expo/
.next/
out/
dist/
web-build/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
logs/

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# local workbooks / keys
Print Orders + Install Calculator.xlsx
~$*.xlsx
bk_live
bk_live.pub
server/data/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json

# typescript
*.tsbuildinfo
